<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-styles/color.html">
<link rel="import" href="../polymerfire/firebase-query.html">

<link rel="import" href="weka-login.html">
<link rel="import" href="weka-participant.html">

<!--
`weka-participants`


@demo demo/weka-participants.html
-->

<dom-module id="weka-participants">
    <template>
        <style>
            :host {
                display: block;

                --color-facebook: #3b5998;
                --color-google: var(--google-red-500);
                --color-twitter: #00aced;
                --color-github: #333;
            }

        </style>

        <weka-login signed-in="{{signedIn}}"
                    user="{{user}}"></weka-login>

        <template is="dom-if" if="[[signedIn]]">
            <weka-participant user-photo="[[user.photo]]" user-name="[[user.name]]" user-provider="[[user.provider]]"></weka-participant>
        </template>

        <firebase-query path="/participants" data="{{participants}}"
                        order-by-child="active" equal-to="true"></firebase-query>

        <div hidden="[[!_hasParticipants(renderedItemCount)]]">Everyone:</div>

        <template is="dom-repeat" items="[[participants]]" as="user" filter="notCurrent" rendered-item-count="{{renderedItemCount}}">
            <weka-participant user-photo="[[user.photo]]" user-name="[[user.name]]" user-provider="[[user.provider]]" flat></weka-participant>
        </template>
    </template>

    <script>
      Polymer({

        is: 'weka-participants',

        _hasParticipants: function(p){
          return p > 0;
        },

        notCurrent: function (participant) {
          if(!this.user) {
            return true;
          }

          return participant.id != this.user.id;
        }

      });
    </script>
</dom-module>
